{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}


    <section class="faq faq-1">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 style="margin-bottom: 30px;">Foires aux questions</h3>

                </div>
            </div>

            {#

            <div class="row">
                <div class="col-sm-6">
                    <div class="faq">
                        <h5>Comment puis-je me procurer un numéro en particulier ?</h5>
                        <p>
                            Cras tincidunt placerat risus. Integer lectus felis, commodo sit amet porttitor quis, lobortis a odio. Donec eget lacus maximus, tempor magna quis, semper sapien. Mauris lacinia orci orci, at pharetra ex rhoncus in. Fusce porta massa tellus, quis convallis mauris iaculis sed.
                        </p>
                    </div>

                    <div class="faq">
                        <h5>Est-il possible de commander depuis l'étranger?</h5>
                        <p>
                            Sed scelerisque ligula eget elementum sollicitudin. Sed nec condimentum tortor. Curabitur consequat sem quis lacus ultrices, ut ornare magna sollicitudin. Nulla sollicitudin lorem non sem pulvinar placerat.
                        </p>
                    </div>

                    <div class="faq">
                        <h5>Combien de pages?</h5>
                        <p>
                            Aliquam nisi sem, gravida in dapibus a, sollicitudin ut sapien. Ut non commodo ligula, sed porttitor dolor. Curabitur porta ante urna, non sollicitudin mi blandit in. Morbi dictum, metus a semper pulvinar, justo erat tempus nisi, elementum rutrum diam diam in mauris.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="faq">
                        <h5>VYPER est-il disponible en anglais?</h5>
                        <p>
                            Suspendisse ut blandit justo. Praesent imperdiet neque at odio faucibus, sit amet congue nunc ornare. Fusce justo neque, maximus eget justo vel, tincidunt tempus orci. Nulla ultrices erat vitae elementum commodo. Pellentesque ac vestibulum ex. Nulla facilisi.
                        </p>
                    </div>

                    <div class="faq">
                        <h5>Des posters sont-ils inclus dans le magazine?</h5>
                        <p>
                            Aenean id est tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas ut felis non felis pellentesque feugiat ac quis urna. Ut iaculis est vitae neque auctor, et rhoncus eros iaculis. Phasellus mollis purus eros, at aliquam turpis suscipit quis.
                        </p>
                    </div>
                </div>

            </div>

            #}


            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>D'autres questions? Tweetez <a target="_blank" href="https://twitter.com/VYPER_JMusic">@VYPER_JMusic</a> dès maintenant</h4>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

