{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}
<section class="news news-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6 class="light">14 Février 2015</h6>
                <h3>C'est pour bientôt</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img alt="News Pic" src="{{ asset('bundles/vypersite/img/news/news1.jpg') }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="lead">
                    Le prochain numéro de VYPER prend forme et rien que pour vous, aujourd'hui, voici les previews des quatre pages consacrées au phénomène du moment : MEJIBRAY !
                </p>

                <p class="lead">
                    Pré-commandes toujours disponibles : http://japanfm.fr/vyper-jmusi…/vyper-magazine-vol-004/6.html
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn" href="#">Partager</a>
            </div>
        </div>
    </div>
</section>


<section class="news news-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6 class="light">28 Janvier 2015</h6>
                <h3>VYPER sera présent à Paris Manga.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <img alt="News Pic" src="{{ asset('bundles/vypersite/img/news/news2.jpg') }}">
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <p class="lead">
                    Nous sommes heureux de vous annoncer que nous serons présents à Paris Manga les 07 et 08 Février prochain.<br>
                    Nous serons au stand 156 !
                </p>

                <p class="lead">
                    Mais restez connectés sur la page Facebook en attendant, des surprises arriveront ce week end ;)
                </p>

                <p class="lead">
                    Plan et information sur http://www.parismanga.fr/
                </p></div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn" href="#">Partager</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

