{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}
    <section class="header header-11 overlay">

        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/jobs.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white">MAGAZINE</h2>
                </div>

            </div>
        </div>
    </section>

    <section class="pricing pricing-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h5>LE MAGAZINE PROPOSE</h5>
                </div>
                <div class="separator small center"></div>
            </div>

            Description attractif du mag


        </div>
    </section>

    <section class="features features-13 red">
        <div class="container">
            <div class="row">
                <div class="col-md-9 text-right">
                    <h5 class="text-white">Profitez maintenant du magazine le plus complet en France ainsi que des avantages exclusifs proposés par Vyper</h5>

                </div>

                <div class="col-md-3">
                    <a class="qbutton white" href="{{ path('vyper_site_contact') }}">JE M'ABONNE</a>
                </div>

            </div>
        </div>
    </section>


{% endblock %}

{#


    <section class="features features-5">
        <div class="container">
            <div class="row v-align-children">

                <div class="col-sm-6 col-md-5 feature text-right">
                    <h4>Variant Page Builder<br> makes editing a breeze.</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
                    </p>
                </div>

                <div class="col-sm-6 col-md-offset-1 text-center feature">
                    <img alt="Feature Image" src="img/phone1.png">
                </div>

            </div>
        </div>
    </section>

    <section class="features features-4">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-sm-6 text-center feature">
                    <img alt="Feature Image" src="img/ipad2.png">
                </div>

                <div class="col-sm-6 col-md-5 col-md-offset-1 feature">
                    <h4>Build a landing page<br> in a matter of minutes.</h4>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="header header-9">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white">Basic Page Header</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="features features-13">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4 class="text-white">Your next landing page is minutes away</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 feature">
                    <i class="icon-design-pencil-rule-streamline"></i>
                    <h5 class="text-white">Intuitive Page Builder</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
                    </p>

                    <ul>
                        <li>Edit content in place</li>
                        <li>Assemble layouts in seconds</li>
                        <li>Re-arrange sections</li>
                        <li>Export directly to HTML</li>
                    </ul>
                </div>

                <div class="col-sm-4 feature">
                    <i class="icon-envellope-mail-streamline"></i>
                    <h5 class="text-white">Slick, Flexible Design</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                    <ul>
                        <li>Edit content in place</li>
                        <li>Assemble layouts in seconds</li>
                        <li>Re-arrange sections</li>
                        <li>Export directly to HTML</li>
                    </ul>
                </div>

                <div class="col-sm-4 feature">
                    <i class="icon-grid-lines-streamline"></i>
                    <h5 class="text-white">Built on Bootstrap 3</h5>
                    <p>
                        It’s never been easier to create a unique and effective landing page.  Build, edit and customize your landing page intuitively in-browser with Variant.
                    </p>
                    <ul>
                        <li>Edit content in place</li>
                        <li>Assemble layouts in seconds</li>
                        <li>Re-arrange sections</li>
                        <li>Export directly to HTML</li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <section class="features features-2">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4>Launchkit is a neat, feature-rich landing page template designed to showcase your product or service in style.</h4>
                    <p>With multiple options for all sections - Launchkit has the right stuff for your next landing page.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 text-center feature">
                    <img alt="Feature Image" src="img/small7.jpg">
                    <h5>Unique, Engaging Style</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>

                <div class="col-sm-4 text-center feature">
                    <img alt="Feature Image" src="img/small8.jpg">
                    <h5>Built for mobile and up</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>

                <div class="col-sm-4 text-center feature">
                    <img alt="Feature Image" src="img/small6.jpg">
                    <h5>Variant Builder included</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="features features-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="hover-gallery" speed="5000">
                        <li>
                            <img alt="Hover Item" src="img/small2.jpg">
                        </li>
                        <li class="active">
                            <img alt="Hover Item" src="img/small5.jpg">
                        </li>
                        <li>
                            <img alt="Hover Item" src="img/small1.jpg">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h3>Showcase your product's features</h3>
                    <p class="lead">
                        Launchkit fuses the traditional landing page with stylish, modern web design. Clear, refined looks and sales-centric elements combine to produce smart landing pages ideal for today's products and services.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="features features-3">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h3>Build stylish landing pages fast.</h3>
                    <p>With multiple options for all sections - Launchkit has the right stuff for your next landing page.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 text-center feature">
                    <i class="icon-camera-streamline-video"></i>
                    <h5>Beautiful header options</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>

                <div class="col-sm-4 text-center feature">
                    <i class="icon-browser-streamline-window"></i>
                    <h5>Intuitive page builder</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>

                <div class="col-sm-4 text-center feature">
                    <i class="icon-backpack-streamline-trekking"></i>
                    <h5>Designed for many uses</h5>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="features features-6">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>That's not all there is</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-browser-streamline-window"></i>
                    <h5>Intuitive page builder</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-arrow-streamline-target"></i>
                    <h5>Built for conversions</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-book-dowload-streamline"></i>
                    <h5>Thorough documentation</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-bubble-love-streamline-talk"></i>
                    <h5>Elite author item</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-design-pencil-rule-streamline"></i>
                    <h5>Flexible design</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-frame-picture-streamline"></i>
                    <h5>Unique elements</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-map-streamline-user"></i>
                    <h5>Support forum access</h5>
                </div>

                <div class="col-md-3 col-sm-6 text-center feature">
                    <i class="icon-paint-bucket-streamline"></i>
                    <h5>Simple customization</h5>
                </div>

            </div>
        </div>
    </section>

    <section class="features features-11">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h4>Launchkit is a neat, feature-rich landing page template designed to showcase your product or service in style.</h4>
                    <p>With multiple options for all sections - Launchkit has the right stuff for your next landing page.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 feature">
                    <i class="icon-dashboard-speed-streamline"></i>
                    <h5>Launch in no time flat</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                    </p>
                </div>

                <div class="col-sm-4 feature">
                    <i class="icon-computer-imac"></i>
                    <h5>Increase conversions</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                    </p>
                </div>

                <div class="col-sm-4 feature">
                    <i class="icon-design-graphic-tablet-streamline-tablet"></i>
                    <h5>Look good while doing it</h5>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="features features-15">
        <div class="row">
            <div class="col-sm-4 text-center feature">
                <i class="icon-picture-streamline-1"></i>
                <h5 class="text-white">Intuitive Page Builder</h5>
                <p class="text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>

            <div class="col-sm-4 text-center feature">
                <i class="icon-dashboard-speed-streamline"></i>
                <h5 class="text-white">Designed To Convert</h5>
                <p class="text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>

            <div class="col-sm-4 text-center feature">
                <i class="icon-ink-pen-streamline"></i>
                <h5 class="text-white">Truly Flexible Style</h5>
                <p class="text-white">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                </p>
            </div>
        </div>
    </section>



#}


