{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}

<section class="header header-7">
    <div class="hero-slider">
        <ul class="slides">
            <li>
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/bg2.png') }}">
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h2 class="text-white first-title">le premier magazine français entièrement consacré au J-Rock et Visual-Kei</h2>
                            <h5 class="text-white">VYPER propose de façon innovante de promouvoir la musique japonaise en France et en Europe.<br></h5>
                            <a class="qbutton white" href="{{ path('vyper_site_magazine') }}">DÉCOUVRIR VYPER</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>




{% endblock %}
