{% extends 'VyperSiteBundle::layout.html.twig' %}
{% block content %}
    <section class="header header-11 overlay">

        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="{{ asset('bundles/vypersite/img/bg/apropos.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-white">A PROPOS</h2>
                </div>

            </div>
        </div>
    </section>

    <section class="pricing pricing-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h5>NOTRE VISION</h5>
                </div>
                <div class="separator small center"></div>
            </div>

            <div class=" full_section_inner clearfix">
                <div class="col-sm-6">
                    <div class="wpb_wrapper">

                        <div class="wpb_text_column wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>
                                    <strong>VYPER Japanese Music</strong> est une nouvelle source d’information entièrement dédiée à la musique japonaise dans son ensemble.
                                </p>

                                <p>
                                    Depuis 2013, toute l’équipe de <strong>VYPER Japanese Music</strong> vous partage les dernières actualités japonaises, françaises et européennes sur vos artistes japonais préférés sans distinction des genres.</p>
                                <p> De plus, et toujours dans un souci de partage et de découverte au plus grand nombre, notre équipe vous propose régulièrement des interviews, live reports et critiques ainsi qu’une importante base de données artistes, régulièrement mise à jour.
                                </p>


                            </div>
                        </div> <div class="separator  transparent center  " style="margin-top: 93px;margin-bottom: 0px;"></div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="wpb_wrapper">

                        <div class="wpb_text_column wpb_content_element">
                            <div class="wpb_wrapper">
                                <p>
                                    L’équipe de <strong>VYPER Japanese Music</strong> travaille l’esprit ouvert et est toujours prête à découvrir et faire découvrir de nouveaux groupes. Notre équipe travaille dans un esprit de partage et de découverte afin que la musique japonaise puisse acquérir popularité et notoriété.
                                </p>

                                <p>
                                    <strong>VYPER Japanese Music</strong> est une plateforme web adaptable sur smartphone et tablettes.
                                </p>

                                <p class="text-right" style="margin-top: 93px;">
                                    <img src="{{ asset('bundles/vypersite/img/apropos/apropos-sign.png') }}" alt="L'équipe VYPER" />
                                </p>
                            </div>
                        </div> <div class="separator transparent center" style="margin-top: 93px;margin-bottom: 0px;"></div>

                    </div>
                </div>
            </div>


        </div>
    </section>


{% endblock %}


